/* Custom font */
@import url("https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lusitana:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/*
  Lucho's Custom CSS Reset, inspired by Josh's Custom CSS Reset
  @https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

dialog {
  border: none;
  outline: none;
  max-width: 100%;
  padding: 0;
}

/* General */
:root {
  font-family: "Roboto", sans-serif;
  --spacing-xxs: 0.1rem;
  --spacing-xs: 0.5rem;
  --spacing-s: 1rem;
  --spacing-m: 2rem;
  --spacing-l: 4rem;
  --spacing-xl: 6rem;
  --spacing-xxl: 8rem;
  --header-height: clamp(80px, 99px, 105px);
  --fg: rgb(235, 219, 178);
  --blue: #83a598;
  --aqua: #689d6a;
  --red-pastel: #fb4934;
  --bg: #282828;
  --terminal-background-dark: #1d2021;
}

body {
  background-color: var(--bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-m) var(--spacing-xxl);
}

/* Navigation Menu */
.nav-menu {
  display: flex;
  gap: var(--spacing-m);
}

/* Navigation Items */
.nav-item svg {
  width: 1.1rem;
  height: 1.1rem;
  color: var(--blue);
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  color: white;
  color: var(--fg);
  cursor: pointer;
  transition: color ease-in-out 200ms;
  font-size: 1.1rem;
}

.nav-menu:hover .nav-item {
  color: rgba(235, 219, 178, 0.5);
}

.nav-menu:hover .nav-item:hover {
  color: var(--fg);
}

/* Logo */
.logo {
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
  font-size: calc(0.6rem + 0.6vw);
  cursor: pointer;
  border: 1px solid var(--fg);
  border-radius: 0.5rem;
  padding: calc(0.1rem + 0.1vw) calc(0.3rem + 0.3vw);
  display: inline-block;
  background-color: var(--terminal-background-dark);
}

.logo-bracket {
  color: var(--blue);
  margin-right: calc(0.3rem + 0.5vw);
  transition: transform 0.5s ease;
  display: inline-block;
  transform: rotate(0deg);
}

.logo:hover .logo-bracket {
  transform: rotate(360deg);
}

.logo-name {
  color: var(--fg);
}

.logo-cursor {
  color: white;
  padding-right: calc(0.5rem + 0.5vw);
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: calc(100vh - var(--header-height));
  width: 50vw;
  margin: auto;
  padding-bottom: clamp(20px, 14vh, 140px);
}

.greetings {
  font-family: "JetBrains Mono", monospace;
  display: flex;
}

.bracket {
  color: var(--blue);
  margin-right: calc(0.2rem + 0.2vw);
}

.hello-world {
  color: var(--fg);
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(13, end);
  width: 13ch;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 13ch;
  }
}

.cursor {
  animation: 1s blink step-end infinite;
  color: white;
}

.name {
  font-size: calc(2rem + 2vw);
  color: var(--blue);
  font-weight: bold;
}

.description {
  color: white;
  font-size: calc(0.7rem + 0.6vw);
}

.anchor-contact {
  display: inline-block;
  margin-top: calc(0.5rem + 0.5vw);
  border-radius: 0.5rem;
  border: solid 2px var(--blue);
  color: var(--blue);
  background-color: var(--bg);
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 500;
}

.anchor-contact:hover {
  background-color: var(--blue);
  color: var(--bg);
  transition: 0.2s all ease-in-out;
  transform: translateY(-10%);
}

.highlight-yellow {
  color: var(--fg);
}

.border {
  border-left: 2px solid var(--blue);
  padding-left: calc(1rem + 1vw);
}

.greetings {
  border: solid 1px var(--fg);
  padding: calc(0.2rem + 0.2vw) calc(0.3rem + 0.3vw);
  border-radius: 0.5rem;
  background-color: var(--terminal-background-dark);
}

.about {
  background-color: pink;
  height: 100vh;
  width: 100vw;
}
