/* Custom font */
@import url("https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/*
  Lucho's Custom CSS Reset, inspired by Josh's Custom CSS Reset
  @https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

dialog {
  border: none;
  outline: none;
  max-width: 100%;
  padding: 0;
}

/* General */
:root {
  font-family: "Roboto", sans-serif;
  --spacing-xxs: 0.1rem;
  --spacing-xs: 0.5rem;
  --spacing-s: 1rem;
  --spacing-m: 2rem;
  --spacing-l: 4rem;
  --spacing-xl: 6rem;
  --spacing-xxl: 8rem;
  --yellow-pastel: #ebdbb2;
  --blue-pastel: #83a598;
  --green-pastel: #8ec07c;
}

body {
  background-color: #282828;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-m);
}

.nav-right {
  flex: 1;
}

.nav-left {
  flex: 1;
}

/* Navigation Menu */
.nav-menu {
  display: flex;
  justify-content: center;
  gap: var(--spacing-m);
  flex: 2;
}

/* Navigation Items */
.nav-item svg {
  width: 1rem;
  height: 1rem;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  color: white;
  cursor: pointer;
  transition: color ease-in-out 200ms;
}

.nav-menu:hover .nav-item {
  color: rgba(255, 255, 255, 0.5);
}

.nav-menu:hover .nav-item:hover {
  color: white;
}

/* Logo */
.logo {
  display: flex;
  align-items: flex-start;
  font-weight: 400;
  font-size: calc(1rem + 0.5vw);
  cursor: pointer;
}

.logo-part-1 {
  color: var(--blue-pastel);
  margin-right: calc(0.3rem + 0.5vw);
  transition: transform 0.5s ease;
  transform: rotate(0deg);
}

.logo:hover .logo-part-1 {
  transform: rotate(360deg);
}

.logo-part-2 {
  color: white;
}

.logo-part-3,
.logo-part-4 {
  color: var(--yellow-pastel);
}

.logo-part-4 {
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.logo:hover::after {
  width: 100%;
}
